<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Technology</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="technology.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="technology.description" id="description" class="form-control" placeholder="description" required>
                    </div> 
                    <label class="control-label" for="Tags">Tags</label>  
                     <div class="controls">
                        <select multiple data-ng-model="technology.tags" ng-options="tag.name for tag in tags " id="tags" class="form-control" >
                             <option value="">-- choose tag --</option>
                        </select>
                    </div>                                     
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>