<section data-ng-controller="TechnologiesController" data-ng-init="find(); getAllTags()">
    <div class="page-header">
        <h1>
        <a class="btn btn-primary" href="/#!/technologies/create">
            <i class="glyphicon glyphicon-plus"></i>
        </a>        
       Technologies</h1>
    </div>
    <div class="input-group" ng-show='!technologies.$resolved || technologies.length'>
      <span class="input-group-addon">  <i class="glyphicon glyphicon-filter"></i></span>
      <input type="text" ng-model="search.$" placeholder="Filter" class="form-control" >
    </div>
    <table class="table" ng-show='(technologies | filter:search).length > 0'>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th></th>
        <tr>
        <tr data-ng-repeat="technology in technologies | filter:search">
            <td data-ng-bind="technology.name"></td>
            <td data-ng-bind="technology.description"></td>
            <td>
                <div ng-show='technology.tags.length > 0'>
                    <div data-ng-repeat="tag in technology.tags" class="btn btn-default tag">
                        <i class="glyphicon glyphicon-tag"></i>
                        <span data-ng-bind="getTagName(tag)"></span>
                    </div>
                </div>
            </td>
            <td>
                 <a class="btn btn-primary" tooltip="See questions of this technology"  ng-click="openModal(technology._id)">
                    <i class="glyphicon glyphicon-list"></i>
                </a>    
                <a class="btn btn-primary" tooltip="View technology" href="/#!/technologies/{{technology._id}}">
                    <i class="glyphicon glyphicon-zoom-in"></i>

                </a>
                <a class="btn btn-primary" tooltip="Edit this technology" href="/#!/technologies/{{technology._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary"  tooltip="Remove this technology" ng-confirm-click="remove(technology),Would you like delete this technology?">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        <tr>        
    </table>
    
    
    <!--<div><p>{{ currentTech }}</p></div>-->
    
  <questionmodal/>
 
    <div class="alert alert-warning text-center no-results" data-ng-hide="!technologies.$resolved || technologies.length">
        No Technologies yet, why don't you <a href="/#!/technologies/create">create one</a>?
    </div>
    <div class="alert alert-warning text-center no-results" ng-hide='((technologies | filter:search).length > 0) || !(!technologies.$resolved || technologies.length)'>
    	No Technologies found. You have filtered out all the technologies.
    </div>
</section>