<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="technology.name"></h1>
		<h4 data-ng-bind="technology.description"></h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == technology.user._id))">
		<a class="btn btn-primary" href="/#!/technologies">
			<i class="glyphicon glyphicon-ok"></i>
		</a>
		<a class="btn btn-primary" href="/#!/technologies/{{technology._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
        <a class="btn btn-primary" ng-confirm-click="remove(),Would you like delete this technology?">
            <i class="glyphicon glyphicon-trash"></i>
        </a>		
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="technology.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="technology.user.displayName"></span>
		</em>
	</small>
</section>
