<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center loginTitle">Sign in using your Devspark account</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/devspark_logo.png">
		</a>		
	</div>	
</section>