.answersBoxTitle a{ 
	cursor: pointer;
}

.answersBox { 
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	border: solid 1px #CCC;
	border-radius: 8px;
}

.addNewAnswerBtn{
	margin: 10px;
}

.answerItem {
	margin-top: 10px;
}

.answerItem .form-group{
	width: 80%;
	margin:auto;
}

.answerItem .form-group .controls {
	display: inline-block;
	width: 80%;
}

.answerItemTitle{
	margin-left: 10px;
	font-size: 15px;
	color: #337ab7;
	font-weight: bold;
}

.deleteAnswerBtn{
	display: inline-block;
}

