<section data-ng-controller="TagsController" data-ng-init="find()">
    <div class="page-header">
        <h1>
        <a class="btn btn-primary" href="/#!/tags/create">
            <i class="glyphicon glyphicon-plus"></i>
        </a>       
        Tags</h1>   
    </div>
    <div class="input-group filter" ng-show='!tags.$resolved || tags.length'>
      <span class="input-group-addon">  <i class="glyphicon glyphicon-filter"></i></span>
      <input type="text" ng-model="search.$" placeholder="Filter" class="form-control" >
    </div>    
    <div class="list-group">
        <a data-ng-repeat="tag in tags | filter:search" data-ng-href="#!/tags/{{tag._id}}" class="list-group-item">
			<div>
                <i class="glyphicon glyphicon-tag"></i>
                <h4 class="list-group-item-heading" style="display:inline-block" data-ng-bind="tag.name"></h4>
            </div>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="tag.created | date:'medium'"></span>
                by
                <span data-ng-bind="tag.user.displayName"></span>
            </small>            
        </a>
    </div>
    <div class="alert alert-warning text-center no-results" data-ng-hide="!tags.$resolved || tags.length">
        No Tags yet, why don't you <a href="/#!/tags/create">create one</a>?
    </div>
    <div class="alert alert-warning text-center no-results" ng-hide='((tags | filter:search).length > 0) || !(!tags.$resolved || tags.length)'>
        No Tags found. You have filtered out all the tags.
    </div>
</section>