<section data-ng-controller="TagsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="tag.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == tag.user._id))">
		<a class="btn btn-primary" href="/#!/tags/{{tag._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
        <a class="btn btn-primary" ng-confirm-click="remove(),Would you like delete this tag?">
            <i class="glyphicon glyphicon-trash"></i>
        </a>			
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="tag.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="tag.user.displayName"></span>
		</em>
	</small>
</section>
