<section data-ng-controller="QuestionsController">
    <div class="page-header">
        <h1>New Question</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Content</label>
                    <div class="controls">
                        <input type="text" data-ng-model="content" id="content" class="form-control" placeholder="Content" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Difficulty level</label>
                    <div class="controls">
                        <select data-ng-model="level" id="level" name="level" ng-options="level for level in levelOptions" class="form-control " placeholder="Level" required>
                            <option value="">-- choose level --</option> 
                         </select>   
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Type</label>
                    <div class="controls">
                        <select data-ng-model="questionType" id="questionType" name="questionType" ng-options="type for type in questionTypes" class="form-control " placeholder="Type" required>
                            <option value="">-- choose type --</option> 
                         </select>   
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Score</label>
                    <div class="controls">
                        <input type="number" data-ng-model="score" id="score" class="form-control" placeholder="Score" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Technology</label>
                    <div class="controls">
                        <select data-ng-model="tech" id="technology" name="technology" ng-options="tech.name for tech in technologies" class="form-control " required>
                            <option value="">-- choose technology --</option> 
                         </select>   
                    </div>
                </div>

                <hr/> 
                <div>
                    <answers/>
                </div>
    

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>