<div>
	<div id="" class="">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
					<h3 class="modal-title">Questions of {{currentTech.name}}</h3>
	            </div>
				<div class="modal-body">
				        <ul>
				          <li ng-repeat="item in currentTechnologyQuestions">
				                {{ item.content }}
				          </li>
				        </ul>
				</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>