<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="question.content"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == question.user._id))">
		<a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>
		<p><b>Score: </b>{{ question.score }}</p>
		 <p><b>Level: </b>{{question.level}}</p>
		 <p><b>Technology: </b>{{ getTechnologyName(question.technology._id) }}</p>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="question.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="question.user.displayName"></span>
		</em>
	</small>
</section>
