<div>
                <h4 class="answersBoxTitle">
                    <a ng-click="answerBoxVisible = !answerBoxVisible; " >
                        <i class="glyphicon btn-xs" ng-class="{'glyphicon-minus-sign': answerBoxVisible == true, 'glyphicon-plus-sign': answerBoxVisible == false}"></i>Answers
                    </a>
                </h4>
                
                 
                <div class="answersBox" ng-show="answerBoxVisible">
                    <a class="btn btn-primary btn-sm addNewAnswerBtn" ng-click="addAnswer()">
                        <i class="glyphicon glyphicon-plus"></i>New answer
                    </a>
                    <div ng-repeat="answer in answers" class="answerItem" >
                        <h5 class="answerItemTitle">Answer #{{ $index }}<h5>
                        <div class="form-group">
                            <label class="control-label" for="name">Content</label>
                            <div class="controls">
                                 <input type="text" ng-model="answer.content" class="form-control answerInput" required>
                            </div>
                            <a class="btn btn-primary btn-sm deleteAnswerBtn" ng-click="removeAnswer()">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>    
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Is valid</label>
                            <div class="controls">
                                 <input type="checkbox" ng-model="answer.isValid" class="" />
                            </div>
                        </div>

                    </div> 
                </div>
            </div>